// TODO: fix this crap with paths

$brand-primary: #096;

@import '../../.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

.center-text {
  text-align: center;
}

.bot-controls {
  margin-top: 1em;
}

#scroll-spy-beacon {
  height: 100px;
  width: 100%;
}

.logo {
  width: 3em;
  height: 3em;
}
